node {
    stage('Dependencies check') {
        sh 'PATH=$PATH:/usr/local/lib/npm/bin/'
        sh 'npm -v'
        sh 'yarn -v'
    }
    stage('Checkout and Build') {
        git(    
            url: 'https://github.com/lucasmonteiro001/continous-delivery-training.git',
            branch: 'master'
            
        )
        sh 'yarn install'
    }
    stage('Test') {
        sh 'CI=true npm run test:ci'
    }
    stage('Build') {
        sh "yarn build"
    }
}