node {
    stage('Dependencies check') {
        sh 'PATH=$PATH:/usr/local/lib/npm/bin/'
        sh 'npm -v'
        sh 'yarn -v'
    }
    stage('Checkout') {
        git(    
            url: 'https://github.com/lucasmonteiro001/continous-delivery-training.git',
            branch: 'master'
            
        )
    }
    stage('Build') {
        sh 'yarn install'
        sh "yarn build"
    }
}