pipeline {
    agent any
    stages {
        stage('Dependencies check') {
            steps {
                sh 'PATH=$PATH:/usr/local/lib/npm/bin/'
                sh 'npm -v'
                sh 'yarn -v'
            }
        }
        stage('Checkout and Build') {
            steps {
                git(    
                    url: 'https://github.com/lucasmonteiro001/continous-delivery-training.git',
                    branch: 'master'
                )
                sh 'yarn install'
            }
        }
        stage('Test') {
            steps {
                sh 'CI=true npm run test:ci'
            }
        }
        stage('Build') {
            steps {
                sh "yarn build"
            }
        }
    }
    post {
        always {
            junit 'test/junit.xml'
        }
    }
}